*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mainPage{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);

    text-align: center;

    width: 500px;
    height: 300px;
    border: 5px solid black;
    border-radius: 10px;
}
#mainPage > h2 {
    margin-top: 100px;
}
#mainPage > button {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    border-radius: 10px;
    &:hover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.3);
    }
}
.gamePage{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    background-color: white;

    text-align: center;

    width: 500px;
    height: 300px;
    border: 5px solid black;
    border-radius: 10px;
}
.gamePage h2{
    font-size: 30px;
}
.inline1 {
    display: inline-block; /* 인라인 블록으로 설정 */
    margin-right: 5px; /* 오른쪽 여백 추가 */
    margin-top: 50px;
}
.game_img {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game_img img{
    width: 100px;
    height: auto;
}
.rsp img:nth-child(1){
    transform: scaleX(-1); /* 좌우 반전 */
}
.rsp_vs{
    margin-right: 5px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    text-align: center;
}
.select_rsp{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.select_rsp button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border: unset;
    background-color: unset;
    &:hover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.3);
    }
}
.select_rsp button img{
    width: 40px;
    height: auto;
}
